.box {
  display: inline-block;
  width: 95vw;
  padding: 20px;
  text-align: center;
  align-content: center;
  border-top: 20px thick rgb(131, 123, 123);

  box-shadow: 2px 4px 3px 3px rgb(185, 193, 201);
  animation: eff 15s ease infinite;
  background: linear-gradient(-45deg, #a38982, #dfa1b8, #b5d5e0, #b6e7dc);
  -webkit-animation: eff 15s ease infinite;
  -moz-animation: eff 15s ease infinite;
  background-size: 400% 400%;
}
@-webkit-keyframes eff {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes eff {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes eff {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainform {
  background-color: rgb(243, 233, 233);
  width: 30vw;
  text-align: center;
  justify-self: center;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #a38982, #dfa1b8, #b5d5e0, #b6e7dc);
  animation: eff 10s ease-out infinite;
  -webkit-animation: eff 10s ease-out infinite;
  -moz-animation: eff 10s ease-out infinite;
  background-size: 400% 400%;
  box-shadow: 3px 5px 1px rgb(109, 66, 51);
}
.head {
  font-weight: 600;
  font-size: 2rem;
  color: rgb(16, 16, 53);
  font-family: Georgia, "Times New Roman";
}
.head:hover {
  font-weight: bolder;
  text-shadow: 1px 0px 3px teal;
  cursor: pointer;
  font-size: 2.2rem;
}
input {
  border-bottom: 2px double rgb(8, 109, 21);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: transparent;
  padding: 3px;
  width: 20vw;
  margin-bottom: 24px;
  height: 20px;
  font-size: 1rem;
  font-family: "Trebuchet MS", sans-serif;
}

p {
  font-size: 0.8rem;
  font-family: "Lucida Sans Unicode", Geneva;
  color: rgb(172, 15, 15);
}
button {
  width: 120px;
  padding: 5px;
  height: 40px;
  background-color: rgb(10, 61, 65);
  color: rgb(247, 248, 248);
  font-size: 1.3rem;
  text-align: center;
  border-radius: 20px;
  font-family: "Trebuchet MS", sans-serif;
  box-shadow: 2px 1px 0px 0px #9ed4e6;
}
button:hover {
  cursor: pointer;
  color: rgb(3, 27, 11);
  font-style: oblique;
  background-color: rgb(13, 104, 110);
}
input:focus {
  border-color: rgb(51, 19, 51);
  border-radius: 30px;
  width: 22vw;
}
input.ng-invalid {
  border-bottom: 2px double rgb(168, 11, 11);
}

@media screen and (min-width: 524px) and (max-width: 650px) {
  .head {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .mainform {
    width: 70vw;
  }
  input {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 524px) {
  .head {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .mainform {
    width: 50vw;
  }
  input {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }
  button {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
  .box {
    padding: 3px;
  }
  .head {
    font-size: 1.6rem;
  }
  .mainform {
    width: 70vw;
  }
  input {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }
  button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 320px) {
  .box {
    padding: 1px;
  }
  .head {
    font-size: 1.4rem;
  }
  .mainform {
    width: 90vw;
  }
  input {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.6rem;
  }
  button {
    font-size: 0.8rem;
  }
}
