.par {
  font-family: "Lucida Sans Unicode", Verdana;
}

//1
.part1 > :first-child {
  color: red;
}
.part1 span {
  color: blue;
}
div p {
  color: green;
}
.part1 div:last-child {
  color: blue;
}
.part1 p:last-child {
  color: yellow;
}
//2
.part2 li {
  color: red;
}
.part2 li:nth-child(3n) {
  color: green;
}
//3
.part3 div {
  color: blue;
}
.part3 .iAffectMyNextdiv {
  color: red;
}
.iAffectMyNextdiv + div {
  color: red;
}
//4
.part4 div > :first-child,
.part4 a,
.part4 li:nth-child(3) a {
  color: red;
}
.part4 div:nth-child(2) a,
.part4 p a,
.part4 li:nth-child(1) a {
  color: yellow;
}
.part4 li:nth-child(2) a {
  color: green;
}

.cssdiv {
  background-image: "/scss/myapp/src/assets/screen_shot.PNG";
  max-height: 500px;
  min-height: 100px;
  width: 500;
  text-decoration-line: underline;
}
.cssdiv input {
}
